<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meu primeiro projeto em Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Meu app</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input [(ngModel)]="pessoa.nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>idade</ion-label>
    <ion-input type="number" [(ngModel)]="pessoa.idade"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="primeira()">Clique aqui</ion-button>

    <a routerLink="/resultado">Ir para página Resultado</a>
  </ion-item>
</ion-content>
